/* variables */

:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-green: #63A63E;
  --basic-red: #EE3643;
  --basic-grey: #ADAAA5;
  --pale-greylight: #F9F5F0;
  --basic-light: #F1F5F7;
  --basic-header-background: #F3F7F9;

  --background-darkest: #293449;
  --special-dark: #32425C;
  --special-border-grey: #EAEAEA;
  --special-catalog-greylight: #F7F3EC;
  --special-old-price-grey: #A9A9A9;
  --special-orange: #FFBF47;
  --special-blue: #3BBCE3;
  --special-purple: #DC91D8;
  --special-transparent-white: rgba(255, 255, 255, 0.3);
  --special-transparent-greylight: rgba(197, 197, 197, 0.3);
  --special-transparent-grey: rgba(169, 169, 169, 0.3);
  --special-transparent-black: rgba(0, 0, 0, 0.25);
  --special-shadow-black: rgba(0, 0, 0, 0.15);
  --special-action-greylight: #C5C5C5;
  --special-action-darkestgrey: #B5B5B5;
  --special-action-redlight: #CA2C37;
  --special-action-red: #BA2732;
  --special-modal-red: #FF5357;
  --special-modal-grey: #F4F4F4;
  --special-modal-darkgrey: #F1F1F1;
  --special-catalog-scale: #D7DCDE;
  --special-catalog-bar: #00ca74;
  --special-catalog-toggle: #ababab;
  --special-catalog-shadow: #cfcfcf;
  --special-catalog-dash: #444444;
  --special-action-dark: #161D29;
  --special-icon-dark: #3D546F;
  --special-shadow-dark: #405069;
  --special-social-dark: #212A3A;
  --special-action-extra-dark: #1D2739;
  --special-action-white: rgba(255, 255, 255, 0.5);
  --special-action-green: #5FBB2D;
  --special-action-dark-green: #518534;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFC047;
  --special-green-box-shadow: inset 0px -3px 0px #367315;
  --special-box-shadow: 0px 5px 0px #B52933;
  --special-box-shadow-focus: 0px 5px 0px #8D1E26;
  --special-long-box-shadow: inset 0px -5px 0px #293449;
  --special-dark-green: #367315;
  --special-dark: #32425C;
  --special-catalog-background: #F2F6F8;
  --special-border: #E5E5E5;
  --text-yellow: #FFD180;
}

/* Global */

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
}

.container-center {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.product-new::after {
  content: "New";
  position: absolute;
  top: 10px;
  right: -29px;
  width: 100px;
  height: 30px;
  padding-top: 8px;
  padding-right: 7px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.button {
  display: inline-block;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--special-action-redlight);
}

.button:focus {
  background-color: var(--special-action-red);
}

/* Box model */

*, *:before, *:after {
  box-sizing: border-box;
}

/* accessibility for screen reader*/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Main navigation */

.main-nav {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.site-nav-top {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: var(--background-darkest);
}

.site-nav-top .container-center{
  display: flex;
}

.logo {
  background-color: var(--basic-red);
  box-shadow: var(--special-box-shadow);
}

.main-header-logo {
  width: 220px;
  height: 42px;
  text-align: center;
  padding-top: 12px;
}

.main-header-logo:focus {
  box-shadow: var(--special-box-shadow-focus);
  background-color: var(--special-action-red);
}

.header-search {
  position: relative;
  min-width: 270px;
}

.main-search[type=search] {
  padding: 12px 0 9px 42px;
  width: 100%;
  border: none;
  background-color: var(--background-darkest);
  cursor: pointer;
}

.main-search[type=search]:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.main-search::placeholder {
  color: var(--basic-white);
}

.main-search-icon {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;
  background-image:url(../img/icon-search.svg);
  opacity: 0.3;
}

.header-search:hover .main-search-icon {
  opacity: 1;
}

.main-search[type=search]:focus ~ .main-search-icon {
  background-image:url(../img/icon-search-focus.svg);
  opacity: 1;
}

.order-info-link {
  color: var(--basic-white);
}

.order-info-link:focus {
  color: var(--special-action-white);
  background-color: var(--special-action-dark);
}

.bookmarks-link {
  position: relative;
  padding: 10px 24px 8px 43px;
  min-width: 150px;
}

.bookmarks-link::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 20px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-link:hover::before {
  opacity: 1;
}

.bookmarks-link:focus::before,
.bookmarks-link:active::before {
  opacity: 0.3;
}

.cart-link {
  position: relative;
  min-width: 150px;
  padding: 10px 26px 8px 49px;
}

.cart-link::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 27px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  opacity: 0.3;
}

.cart-link:hover::before {
  opacity: 1;
}

.cart-link:focus::before,
.cart-link:active::before {
  opacity: 0.3;
}

.order-link {
  min-width: 150px;
  padding: 9px 17px 9px 18px;
  background-color: var(--basic-green);
}

.order-link:hover {
  background-color: var(--special-action-green);
}

.order-link:focus {
  color: var(--special-action-white);
  background-color: var(--basic-green);
}

.background-wrapper {
  background-color: var(--basic-header-background);
}

.site-nav-middle {
  display: flex;
  flex-wrap: wrap;
}

.header-manifest {
  margin: 0;
  padding: 43px 92px 41px 31px;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: var(--basic-red);
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: end;
  margin-top: 46px;
}

.header-contacts-phone {
  position: relative;
  display: block;
  width: 270px;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 3px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 72px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.header-contacts-phone::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 36px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header-adress {
  margin: 0;
  font-size: 14px;
  text-align: center;
  color: var(--special-dark);
}

.login-wrapper {
  display: flex;
  margin-top: 46px;
  justify-self: end;
  margin-bottom: 67px;
  margin-left: 69px;
}

.profile-link {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.profile-link:hover {
  color: var(--basic-red);
}

.profile-link:focus {
 color: var(--special-action-greylight);
}

.user-login {
  position: relative;
  margin-right: 10px;
  padding: 12px 27px 11px 46px;
  min-width: 121px;
}

.login-icon {
  position: absolute;
  content: "";
  top: 14px;
  left: 18px;
  width: 20px;
  height: 17px;
}

.user-login:hover .login-icon {
  fill: var(--special-icon-dark);
}

.user-login:focus .login-icon,
.user-login:active .login-icon {
  fill: var(--special-action-greylight);
}

.user-register {
  display: block;
  padding: 12px 24px;
  min-width: 150px;
}

.site-nav-bottom-wrapper {
  padding-bottom: 60px;
}

.site-nav-bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--special-dark);
  box-shadow: var(--special-long-box-shadow);
}


.site-nav-bottom-item:nth-child(1) .site-nav-bottom-link {
  margin-left: 21px;
  padding: 16px 32px 20px 32px;
}

.site-nav-bottom-item:nth-child(2) .site-nav-bottom-link {
  padding: 16px 25px 20px 25px;
}

.site-nav-bottom-item:nth-child(3) .site-nav-bottom-link {
  padding: 16px 31px 20px 31px;
}

.site-nav-bottom-item:nth-child(4) .site-nav-bottom-link {
  padding: 16px 26px 20px 26px;
}

.site-nav-bottom-item:nth-child(5) .site-nav-bottom-link {
  padding: 16px 31px 20px 31px;
}

.site-nav-bottom-item:nth-child(6) .site-nav-bottom-link {
  padding: 16px 25px 20px 25px;
}

.site-nav-bottom-item:nth-child(7) .site-nav-bottom-link {
  margin-right: 21px;
  padding: 16px 30px 20px 30px;
}


.site-nav-bottom-link {
  display: block;
  color: var(--basic-white);
}

.site-nav-bottom-link:hover {
  background-color: var(--background-darkest);
}

.site-nav-bottom-link:focus {
  background-color: var(--special-action-extra-dark);
  color: var(--special-action-white);
}

.site-nav-current-page {
  user-select: none;
}

/* offers */

.offers {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px;
  gap: 20px;
  margin-top: 59px;
  margin-bottom: 59px;
  font-family: "Cuprum", Arial, sans-serif;
}

.offers-list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers-item {
  position: relative;
  margin: 0;
  width: 300px;
  height: 123px;
  overflow: hidden;
}

.offers-item:first-child {
  grid-row: 1;
  grid-column: 1;
  background-color: var(--special-orange);
}

.offers-item:first-child::before {
  position: absolute;
  content: "";
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offers-item:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
  background-color: var(--special-blue);
}

.offers-item:nth-child(2)::before {
  position: absolute;
  content: "";
  top: 34px;
  right: 31px;
  width: 75px;
  height: 61px;
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offers-item:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
  background-color: var(--special-purple);
}

.offers-item:nth-child(3)::before {
  position: absolute;
  content: "";
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offers-item:nth-child(4) {
  grid-row: 2;
  grid-column: 3;
  background-color: var(--special-greenlight);
}

.offers-item:nth-child(4)::before {
  position: absolute;
  content: "";
  top: 26px;
  right: 45px;
  width: 59px;
  height: 72px;
  background-image: url(../img/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.offers-item:last-child {
  grid-row: 3;
  grid-column: 3;
  background-color: var(--special-yellowlight);
}

.offers-item:last-child::before {
  position: absolute;
  content: "";
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url(../img/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


.offer-text {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 14px;
  padding-left: 23px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.offer-button {
  margin-left: 23px;
  padding: 10px 0;
  width: 135px;
  background-color: var(--special-transparent-white);
}

.offer-button:hover {
  background-color: var(--special-transparent-greylight);
}

.offer-button:focus {
  background-color: var(--special-transparent-grey);
}

.main-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  position: relative;
  width: 620px;
  height: 266px;

}

.slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 620px;
  height: 266px;
}

.slide-item {
  display: none;
  width: 620px;
  height: 266px;
}

.main-slide-current {
  display: block;
}

.slide-item:nth-child(1) {
  background-image: url(../img/main-slider-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-item:nth-child(2) {
  background-image: url(../img/main-slider-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-slider-background-wrapper {
  background-color: var(--special-transparent-black);
}

.slide-item-title {
  margin: 0;
  padding-top:23px;
  padding-left: 24px;
  padding-bottom: 5px;
  color: var(--basic-white);
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-item-subtitle {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 16px;
  color: var(--basic-white);
  font-size: 18px;
}

.main-slider-button {
  margin-top: 97px;
  margin-left: 24px;
  padding: 11px 47px 9px 46px;
}

.main-slider-controls {
  position: absolute;
  content: "";
  bottom: 36px;
  left: 295px;
  width: 30px;
  display: flex;
  justify-content: space-between;
}

.main-slider-control {
  padding: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--basic-white);
  background-color: var(--basic-white);
}

.main-slider-control-current {
  background-color: var(--basic-red);
}

.main-slider .switch-control {
  position: absolute;
  content: "";
  top: 122px;
  width: 23px;
  height: 41px;
  background-image:url(../img/icon-left.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-slider .switch-control-prew {
  left: 24px;
}

.main-slider .switch-control-next {
  right: 20px;
  transform: rotate(180deg);
}

/* Popular-products*/

.popular-products {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
}

.popular-products-title-wrapper {
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--pale-greylight);
}

.popular-products-title {
  display: inline-block;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 28px;
  color: var(--special-dark);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-products-button {
  margin-top: 25px;
  margin-right: 14px;
  margin-bottom: 26px;
  padding: 11px 24px 9px 24px;
  align-items: flex-end;
}

.products-list {
  grid-column: 1 / 5;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  position: relative;
  margin-right: 20px;
  overflow: hidden;
  text-align: center;
  border: 1px solid var(--special-border-grey);
  width: 220px;
  min-height: 318px;
}

.popular-products-list .product-item:nth-child(4n) {
  margin-right: 0;
}

.product-item:hover {
  box-shadow: 0px 4px 20px var(--special-shadow-black);
}

.product-item-image {
  position: absolute;
  content: "";
}

.product-item:hover .product-item-image{
  visibility: hidden;
}

.popular-product-item:nth-child(1) .product-item-image {
  top: 5px;
  left: 17px;
}

.popular-product-item:nth-child(2) .product-item-image {
  top: 28px;
  left: 39px;
}

.popular-product-item:nth-child(3) .product-item-image {
  top: 21px;
  left: 32px;
}

.popular-product-item:nth-child(4) .product-item-image {
  top: 28px;
  left: 39px;
}

.product-image-cover {
  margin: 0;
}

.product-item-title {
  margin: 0;
  padding-left: 31px;
  padding-top: 179px;
  padding-bottom: 8px;
  width: 188px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}


.old-price {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--special-old-price-grey);
  text-decoration: line-through;
}

.product-button {
  position: relative;
  display: block;
  margin-top: 7px;
  margin-bottom: 20px;
  margin-left: 45px;
  padding: 10px 0;
  padding-left: 11px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 3px 0 0 3px;
  width: 122px;
}

.popular-product-item:nth-child(4) .product-button {
  margin-top: 31px;
}

.product-button::before {
  content: "";
	position: absolute;
	border: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
  top: 0;
  left: 122px;
  overflow: hidden;
}

.product-button:hover::before {
  border-left: 19px solid var(--special-action-redlight);
}

.product-button:focus::before {
  border-left: 19px solid var(--special-action-red);
}

.product-action {
  position: absolute;
  content: "";
  visibility: hidden;
  top: 37px;
  left: 40px;
  overflow: hidden;
}

.product-item:hover .product-action{
  visibility: visible;
}

.product-action-button-buy {
  position: relative;
  display: block;
  margin-bottom: 10px;
  padding: 10px 42px 10px 54px;
  width: 135px;
  box-shadow: var(--special-green-box-shadow);
  background-color: var(--basic-green);
  border-radius: 2px;
}

.product-action-button-buy::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 30px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-position: 0 0;
  opacity: 0.3;
}

.product-action-button-buy:hover {
  background-color: var(--special-action-green);
}

.product-action-button-buy:focus {
  background-color: var(--special-action-dark-green);
}

.product-action-button-in-bookmarks {
  display: block;
  padding: 9px 30px 5px 30px;
  width: 135px;
  color: var(--special-dark);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.product-action-button-in-bookmarks:hover {
  border: 3px solid var(--special-dark);
  background-color: var(--basic-white);
}

.product-action-button-in-bookmarks:focus {
  border: 3px solid var(--special-dark);
  background-color: var(--basic-white);
  opacity: 0.5;
}

/* Popular-firms */

.popular-firms {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
}

.popular-firms-title-wrapper {
  grid-column: 1 / 5;
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: var(--pale-greylight);
}

.popular-firms-title {
  display: inline-block;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;
  color: var(--special-dark);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-firms-button {
  display: block;
  margin-top: 25px;
  margin-right: 19px;
  margin-bottom: 26px;
  padding: 11px 38px 5px 39px;
  align-items: flex-end;
}

.firms-list {
  grid-column:  1 / 5;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.firms-item {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--special-border-grey);
}

.firms-item:nth-child(4n) {
  margin-right: 0;
}

.firms-item:nth-child(1) .firms-link {
  padding: 53px 46px 54px 46px;
}

.firms-item:nth-child(2) .firms-link {
  padding: 49px 48px 55px 47px;
}

.firms-item:nth-child(3) .firms-link {
  padding: 47px 36px 53px 36px;
}

.firms-item:nth-child(4) .firms-link {
  padding: 33px 10px 35px 8px;
}

.firms-item:nth-child(5) .firms-link {
  padding: 57px 22px 56px 27px;
}

.firms-item:nth-child(6) .firms-link {
  padding: 34px 50px 37px 47px;
}

.firms-item:nth-child(7) .firms-link {
  padding: 22px 33px 24px 34px;
}

.firms-item:nth-child(8) .firms-link {
  padding: 33px 5px 38px 7px;
}


.firms-link{
  display: block;
}

.firms-item:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.firms-link:focus {
  opacity: 0.5;
}

/* Services */

.services {
  margin-top: 50px;
  background-color: var(--basic-light);
}

.services-title {
  margin: 0;
  padding-top: 65px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services-text {
  margin: 0px;
  padding-top: 25px;
}

.services-slider {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 80px;
  padding-top: 70px;
  padding-bottom: 99px;
}

.services-slider-controls {
  position: relative;
  display: flex;
  flex-direction: column;
}

.services-slider-controls::after {
  position: absolute;
  content: "";
  top: -46px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/slider-shadow.png);
  background-repeat: no-repeat;
}

.services-slider-control {
  margin: 0;
  padding: 14px 0 18px 22px;
  width: 240px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: start;
  border: none;
  background-color: var(--special-dark);
  color: var(--basic-white);
  box-shadow: 0px 1px 0px var(--background-darkest), inset 0px 1px 0px var(--special-shadow-dark);
}

.services-slider-control-current{
  box-shadow: none;
  color: var(--special-dark);
  background-color: var(--basic-white);
}

.services-slider-control:hover {
  background-color: var(--background-darkest);
}

.services-slider-control-current:hover {
  box-shadow: none;
  color: var(--special-dark);
  background-color: var(--basic-white);
}

.services-slider-control-current:focus,
.services-slider-control-current:active {
  box-shadow: none;
  color: var(--special-dark);
  background-color: var(--basic-white);
}

.services-slider-discription-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.services-slider-discription-item {
  padding-bottom: 20px;
  display: none;
}

.services-slider-current {
  display: block;
}

.services-slider-discription-item:nth-child(1) {
  background-image: url(../img/services-delivery.png);
  background-position: 151px 21px;
  background-repeat: no-repeat;
}

.services-slider-discription-item:nth-child(2) {
  background-image: url(../img/services-guarantee.png);
  background-position: 240px top;
  background-repeat: no-repeat;
}

.services-slider-discription-item:nth-child(3) {
  background-image: url(../img/services-credit.png);
  background-position: 165px top;
  background-repeat: no-repeat;
}

.services-slider-title {
  margin: 0;
  margin-top: -2px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--special-dark);
}

.services-slider-text {
  margin: 0;
  padding-top: 29px;
}

.services-slider-optional-text {
  line-height: 23px;
  margin: 0;
}

.services-slider-button-credit {
  margin-top: 27px;
  padding: 10px 45px;
  border-radius: 3px;
}

/* About */

.about-us-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container-center .about,
.container-center .contacts {
  margin-top: 70px;
  margin-bottom: 70px;
}

.about-title {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-text {
  margin: 0;
  margin-top: 24px;
}

.about-delivery-text {
  margin: 0;
  margin-top: 26px;
}

.delivery-companies-list {
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
  list-style: none;
}

.delivery-company-item {
  position: relative;
  padding-left: 37px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.delivery-company-item:not(:first-child) {
  margin-top: 12px;
}

.delivery-company-item::before {
  position: absolute;
  content: "";
  top: 13px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.delivery-company-item:nth-child(2)::before {
  top: 11px;
}

.delivery-company-item:nth-child(3)::before {
  top: 9px;
}

.about-company-button {
  margin-top: 19px;
  padding: 11px 41px 9px 40px;
}

/* Contacts */

.contacts {
  width: 300px;
  margin-left: 180px;
}

.contacts-title {
  margin: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts-text {
  margin: 0;
  margin-top: 24px;
}

.contacts-map {
  display: block;
  margin-top: 32px;
}

.contacts-button {
  margin-top: 25px;
  padding: 10px 0;
  width: 300px;
}

/* Main-footer */

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-header-background);
  background-color: var(--special-dark);
}

.footer-top-flex-wrapper {
  display: flex;
}

.footer-contacts-logo-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 53px;
  margin-right: 69px;
}

.footer-logo {
  width: 220px;
  padding: 20px 41px 13px 41px;
}

.footer-contacts-wrapper {
  margin-top: 29px;
  margin-left: 3px;
}

.footer-adress,
.footer-contacts-phone {
  margin: 0;
  color: var(--basic-header-background);
  white-space: nowrap;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}

.footer-nav-list {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.footer-nav-main-list .footer-nav-item:nth-child(1) {
  margin-right: 58px;
}

.footer-nav-main-list .footer-nav-item:nth-child(2) {
  margin-right: 58px;
}

.footer-nav-main-list .footer-nav-item:nth-child(3) {
  margin-right: 60px;
}

.footer-nav-main-list .footer-nav-item:nth-child(4) {
  margin-right: 60px;
}

.footer-nav-list-services {
  margin-top: 34px;
  margin-left: 23px;
}

.footer-nav-list-services .footer-nav-item:nth-child(1) {
  margin-right: 58px;
}

.footer-nav-list-services .footer-nav-item:nth-child(2) {
  margin-right: 61px;
}

.footer-nav-list-services .footer-nav-item:nth-child(3) {
  margin-right: 59px;
}

.footer-link {
  color: var(--basic-header-background);
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:focus {
  text-decoration: none;
  opacity: 0.5;
}

.footer-link-services {
  color: var(--text-yellow);
}

.footer-bottom-wrapper {
  background-color: var(--background-darkest);
}

.footer-bottom-wrapper .container-center {
  display: flex;
  flex-wrap: wrap;
}

.footer-copyright-wrapper {
  margin-top: 36px;
  margin-bottom: 35px;
  margin-right: 165px;
}

.footer-copyright {
  justify-self: start;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  margin: 0;
  margin-top: 35px;
  margin-right: 109px;
  padding: 0;
  width: 141px;
  list-style: none;
}

.social-list-item:not(:last-child) {
  margin-right: 3px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  background-color: var(--special-social-dark);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {

  background-color: var(--basic-red);
}

.about-developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: end;
  margin: 0;
  margin-top: 35px;
  /* margin-right: 13px; */
  width: 285px;
  font-size: 16px;
  line-height: 18px;
}


.about-developer-discription {
  margin: 0;
}

.about-developer-link {
  color: var(--text-yellow);
}

.about-developer-link:hover {
  text-decoration: underline;
}

.about-developer-link:focus {
  text-decoration: none;
  color: var(--basic-red);
}

/* Catalog-pixel-perfect-styles */

.inner-page .footer-logo {
  padding-bottom: 12px;
}

.inner-page .footer-contacts-wrapper {
  margin-top: 28px;
}

/* Catalog-header */

.catalog-bookmarks-link {
  position: relative;
  padding: 10px 38px 8px 43px;
  min-width: 164px;
}

.catalog-cart-link {
  display: block;
  position: relative;
  padding: 10px 20px 8px 35px;
  min-width: 136px;
  background-color: var(--basic-red);
}

.catalog-cart-link:hover {
  background-color: var(--special-action-redlight);
}

.catalog-cart-link:focus {
  color: var(--special-action-white);
  background-color: var(--special-action-red);
}

.catalog-cart-link::before {
  top: 13px;
  left: 12px;
}

.catalog-order-link {
  padding: 9px 17px 9px 18px;
}

.catalog-header .header-manifest {
  padding-bottom: 43px;
}

.profile-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  margin-top: 46px;
  margin-left: 51px;
}

.profile-user-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 299px;
  background-color: var(--basic-white);
}

.profile-link-registered {
  padding: 12px 0 12px 57px;

}

.profile-link-registered:hover .profile-registered-icon,
.profole-link-logout:hover .profile-registered-icon {
  fill: var(--special-icon-dark);
}

.profile-link-registered:focus .profile-registered-icon,
.profile-link-registered:active .profile-registered-icon,
.profole-link-logout:focus .profile-registered-icon,
.profole-link-logout:active .profile-registered-icon {
  fill: var(--special-action-greylight);
}

.profile-user-icon {
  position: absolute;
  content: "";
  top: 13px;
  left: 15px;
  width: 20px;
  height: 18px;
}

.profole-link-logout {
  position: relative;
  padding: 22px 28px;
}

.profile-logout-icon {
  position: absolute;
  content: "";
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
}

.profile-info-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7px;
  margin-left: 45px;
  width: 210px;
}

.profile-info-wrapper::after {
  position: absolute;
  content: "";
  top: 8px;
  left: 89px;
  width: 4px;
  height: 4px;
  background-color: var(--special-dark);
  border-radius: 50%;
}

.profile-info-link {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  color: var(--special-dark);
}

.profile-info-link:hover {
  color: var(--basic-red);
}

.profile-info-link:focus {
  color: var(--special-action-greylight);
}

.inner-grid {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
}

/* Catalog-breadcrumbs */

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  grid-column: 1 / 5;
  justify-self: start;
  margin: 0;
  margin-top: 21px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  line-height: 18px;
}

.breadcrumbs-item:nth-child(1) {
  margin-top: 2px;
  margin-right: 41px;
}

.breadcrumbs-item:nth-child(2) {
  margin-right: 41px;
}

.breadcrumbs-item:nth-child(3) {
  margin-right: 42px;
}

.breadcrumbs-item:not(:last-child)::after{
  position: absolute;
  content: "";
  top: 2px;
  right: -66px;
  width: 8px;
  height: 14px;
  background-image: url(../img/icon-right-small.svg);
  margin-right: 40px;
}

.breadcrumbs-item:nth-child(1)::after{
  top: 0;
  right: -63px;
}

.breadcrumbs-link {
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs-link-index {
  display: block;
  width: 14px;
  height: 12px;
}

.breadcrumbs-link-index:hover .breadcrumbs-index-icon {
  fill: var(--special-dark);
}

/* Catalog-title */

.catalog-title-wrapper {
  grid-column: 1 / 5;
  background-color: var(--special-catalog-background);
}

.catalog-title {
  margin: 0;
  padding-top: 30px;
  padding-left: 29px;
  padding-bottom: 29px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--special-dark);
  text-transform: uppercase;
}

/* Product-filter */

.product-filter {
  grid-column: 1 / 2;
  grid-row: 3 / 5;
  width: 220px;
}

.product-filter-wrapper {
  background-color: var(--special-catalog-greylight);
  border-radius: 3px;
}

.product-filter-title {
  margin: 0;
  margin-bottom: 13px;
  padding: 10px 18px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-filter-price {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  border: none;
}

.product-filter-subtitle {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-filter-range {
  margin-top: 12px;
  width: 220px;
}

.product-filter-range-controls {
  position: relative;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  height: 80px;
  background-color: var(--special-catalog-greylight);
  border-radius: 5px;
}

.range-controls-scale {
  height: 2px;
  background-color: var(--special-catalog-scale);
}

.range-controls-bar {
  height: 2px;
  background-color: var(--special-catalog-bar);
}

.product-filter-range-toggle {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 8px solid var(--basic-white);
  background-color: var(--special-catalog-toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-catalog-shadow);
  cursor: pointer;
}

.product-filter-price-controls {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--special-border);
}

.product-filter-price-item {
  position: relative;
}

.product-filter-price-item:first-child::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 105px;
  width: 10px;
  height: 1px;
  background-color: var(--special-catalog-dash);

}

.product-filter-price-placeholder {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 95px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 5px;
  background-color: var(--special-catalog-greylight);

}

.product-filter-firms {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  border: none;
}

.product-filter-firms .product-filter-subtitle {
  margin-bottom: 18px;
}

.product-filter-firms-list {
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  border-bottom: 1px solid var(--special-border);
}

.product-filter-firms-item {
  margin-bottom: 20px;
  padding-left: 35px;
}

.product-filter-firms-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.product-filter-input-checkbox:not(:checked) + .product-filter-firms-label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  border: 2px solid var(--special-action-greylight);
  border-radius: 3px;
}

.product-filter-input-checkbox:not(:checked):hover + .product-filter-firms-label::before,
.product-filter-input-checkbox:not(:checked):focus + .product-filter-firms-label::before {
  border: 2px solid var(--special-action-darkestgrey);
}

.product-filter-input-checkbox:checked + .product-filter-firms-label::before {
  position: absolute;
  content: "";
  left: -35px;
  top: -2px;
  width: 27px;
  height: 23px;
  background-image:url(../img/checkbox-on.svg);
}

.product-filter-input-checkbox:checked:hover + .product-filter-firms-label::before,
.product-filter-input-checkbox:checked:focus + .product-filter-firms-label::before {
  background-image:url(../img/checkbox-on-hover.svg);
}

.product-filter-modes {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  border: none;
}

.product-filter-modes .product-filter-subtitle {
  margin-bottom: 24px;
}

.product-filter-modes-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.product-filter-modes-item {
  margin-bottom: 22px;
  padding-left: 35px;
}

.product-filter-modes-label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.product-filter-input-radio + .product-filter-modes-label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--special-action-greylight);
  border-radius: 50%;
}

.product-filter-input-radio:hover + .product-filter-modes-label::before,
.product-filter-input-radio:focus + .product-filter-modes-label::before {
  border: 4px solid var(--special-action-darkestgrey);
}

.product-filter-input-radio:checked + .product-filter-modes-label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 6px;
  width: 9px;
  height: 9px;
  background-color:  var(--special-action-greylight);
  border-radius: 50%;
}

.product-filter-input-radio:checked:hover + .product-filter-modes-label::after,
.product-filter-input-radio:checked:focus + .product-filter-modes-label::after {
  background-color:  var(--special-action-darkestgrey);
}

.product-filter-input:disabled + .product-filter-label,
.product-filter-input:checked:disabled + .product-filter-label,
.product-filter-input:disabled:hover + .product-filter-label,
.product-filter-input:disabled:focus + .product-filter-label {
  opacity: 0.3;
  pointer-events: none;
}

.product-filter-button {
  padding: 9px 0;
  width: 220px;
  font-family: inherit;
  font-size: 13px;
  color: var(--basic-black);
  background-color: transparent;
  border: 1px solid var(--special-border);
}

.product-filter-button:hover {
  background-color: transparent;
  border: 1px solid var(--special-action-greylight);
}

.product-filter-button:focus {
  background-color: transparent;
  border: 1px solid var(--basic-red);
}

/* Catalog-sorting-filter */

.sorting-filter {
  grid-column: 2 / 5;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1px;
  margin-bottom: 8px;
  background-color: var(--special-catalog-greylight);
  border-radius: 3px;
}

.sorting-filter-title {
  margin: 0;
  padding: 9px 140px 11px 20px;
  padding-right: 140px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-item {
  color: var(--basic-black);
}

.sort-item:nth-child(1) {
  margin-right: 70px;
}

.sort-item:nth-child(2) {
  margin-right: 65px;
}

.sort-item:nth-child(3) {
  margin-right: 46px;
}

.sort-button {
  padding: 0;
  border: none;
  border-bottom: 1px dotted var(--basic-red);
  line-height: 17px;
  text-transform: uppercase;
  color: var(--basic-black);
  opacity: 0.3;
  background-color: transparent;
  cursor: pointer;
}

.sort-button:not(.sort-button-active):hover {
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

.sort-button:not(.sort-button-active):focus {
  color: var(--basic-red);
  opacity: 1;
}

.sort-button-active {
  border-bottom: none;
  color: var(--basic-red);
  opacity: 1;
  cursor: auto;
}

.sorting-figure {
  position: relative;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sorting-figure:focus .sorting-icon {
  fill: var(--basic-red);
}

.sorting-up {
  position: absolute;
  content: "";
  top: -9px;
  left: 0;
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.sorting-up:hover,
.sorting-down:hover {
  opacity: 1;
}

.sorting-down {
  position: absolute;
  content: "";
  top: -9px;
  left: 32px;
  width: 11px;
  height: 10px;
  opacity: 0.3;
}

.sorting-icon-current {
  fill: var(--basic-red);
  opacity: 1;
}

/* Products-catalog */

.products-catalog {
  grid-column: 2 /5;
}

.catalog-products-list .product-item {
  margin-bottom: 18px;
}

.catalog-products-list .product-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-product-item:nth-child(1) .product-item-image {
  top: 21px;
  left: 32px;
}

.catalog-product-item:nth-child(2) .product-item-image {
  top: 21px;
  left: 32px;
}

.catalog-product-item:nth-child(3) .product-item-image {
  top: 21px;
  left: 32px;
}

.catalog-product-item:nth-child(4) .product-item-image {
  top: 28px;
  left: 39px;
}

.catalog-product-item:nth-child(5) .product-item-image {
  top: 21px;
  left: 32px;
}

.catalog-product-item:nth-child(6) .product-item-image {
  top: 28px;
  left: 39px;
}

.catalog-product-item:nth-child(7) .product-item-image {
  top: 28px;
  left: 39px;
}

.catalog-product-item:nth-child(8) .product-item-image {
  top: 21px;
  left: 32px;
}

.catalog-product-item:nth-child(9) .product-item-image {
  top: 28px;
  left: 39px;
}

.catalog-product-item:nth-child(4) .product-item-title {
  padding-left: 28px;
}

.catalog-product-item:nth-child(6) .product-item-title {
  padding-left: 28px;
}

.catalog-product-item:nth-child(7) .product-item-title {
  padding-left: 28px;
}

.catalog-product-item:nth-child(9) .product-item-title {
  padding-left: 28px;
}

.catalog-product-item .product-button {
  margin-bottom: 20px;
  margin-left: 44px;
}

.catalog-product-item:nth-child(6) .product-button,
.catalog-product-item:nth-child(9) .product-button {
  margin-top: 31px;
}

/* Pagination */

.pagination-list {
  grid-column: 2 /5;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 65px;
  margin-top: 38px;
  padding: 0;
  list-style: none;
}

.pagination-button {
  margin-right: 10px;
  padding: 10px 14px 9px 15px;
  color: var(--basic-black);
  border-radius: 3px;
  border: 1px solid var(--special-border);
}

.pagination-button:hover {
  border: 1px solid var(--special-action-greylight);
}

.pagination-button:focus {
  border: 1px solid var(--basic-red);
}

.pagination-current-page {
  padding: 11px 15px 10px 16px;
  color: var(--basic-white);
  border: none;
  background-color: var(--basic-red);
  user-select: none;
}

.pagination-current-page:hover,
.pagination-current-page:focus{
  user-select: none;
  border: none;
}

.pagination-button-next-page {
  text-transform: uppercase;
  padding: 10px 31px 9px 31px;
}

/* About-perforators */

.about-perforators {
  background-color: var(--basic-light);
}

.about-perforators-title {
  margin: 0;
  padding-top: 65px;
  padding-bottom: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.about-perforators-text {
  margin: 0;
  padding-bottom: 67px;
  line-height: 25px;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border-top: 7px solid var(--special-modal-red);
  box-shadow: 0px 4px 20px var(--special-shadow-black);
}

.modal-close {
  position: absolute;
  content: "";
  top: 14px;
  right: 11px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  position: absolute;
  content: "";
  top: 8px;
  left: -2px;
  width: 27px;
  height: 5px;
  background-color: var(--basic-red);
  border-radius: 1px;
}

.modal-close:hover::before,
.modal-close:hover::after {
  background-color: var(--special-action-redlight);
}

.modal-close:focus::before,
.modal-close:focus::after {
  background-color: var(--special-action-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after{
  transform: rotate(-45deg);
}

/* Modal-write-us */

.modal-write-us {
  display: none;
  top: 31px;
  left: 357px;
  bottom: auto;
  width: 620px;
}

.write-us-form-item-wrapper {
  padding: 40px 80px 29px 80px;
}

.write-us-form-item-top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.write-us-form-item-top-wrapper .write-us-form-label {
  margin-left: 1px;
}

.write-us-form-item {
  margin: 0;
  width: 220px;
}

.write-us-form-item-message {
  margin-bottom: 29px;
  margin: 0;
  padding: 0;
  width: 460px;
}

.write-us-form-label {
  display: block;
  margin-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
}

.write-us-form-input {
  padding: 11px 8px 9px 10px;
  width: 220px;
  background-color: transparent;
  border: 2px solid var(--special-action-greylight);
  border-radius: 2px;
}

.write-us-form-input::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.write-us-form-message {
  width: 460px;
  height: 114px;
  padding-top: 4px;
}

.write-us-form-button-wrapper {
  width: 100%;
  padding: 37px 0;
  background-color: var(--special-modal-grey);
}

.write-us-form-button {
  padding-top: 11px;
  padding-bottom: 9px;
  margin-left: 80px;
  width: 460px;
  border: none;
  cursor: pointer;
}

/* Modal-map */

.modal-map {
  display: none;
  top: 31px;
  left: 195px;
  width: 943px;
  height: 445px;
  background-image: url(../img/big-map.jpg);
  background-size: 943px 445px no-repeat;
}

.modal-action-map {
  border: none;
}

.modal-map .modal-close {
  top: 10px;
  right: 10px;
}

/* Modal-in-cart */

.modal-in-cart {
  display: none;
  top: 31px;
  left: 381px;
  width: 620px;
  height: 282px;
  background-color: var(--basic-white);
}

.modal-in-cart .modal-close {
  top: 11px;
  right: 11px;
}

.modal-in-cart-title {
  position: relative;
  margin-top: 67px;
  margin-bottom: 67px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.modal-in-cart-title::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  top: -19px;
  left: 81px;
  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-in-cart-buttons-wrapper {
  background-color: var(--special-modal-darkgrey);
}

.modal-in-cart-button {
  margin-top: 36px;
  margin-bottom: 37px;
  padding-top: 11px;
  padding-bottom: 9px;
  min-width: 192px;
}

.modal-in-cart-button:first-child {
  margin-left: 114px;
  margin-right: 7px;
}

.modal-in-cart-button-keep-shopping {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.modal-in-cart-button-keep-shopping:hover {
  background-color: var(--special-dark);
  color: var(--basic-white);
}

.modal-in-cart-button-keep-shopping:focus {
  background-color: var(--background-darkest);
  color: var(--basic-white);
}

/* Show-madal */

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}




